<div style="margin:0; padding: 0; background:lightskyblue">
<h1 class="text-center" style="color: indigo"><u>Bank Search Application</u></h1>
<br><br><br>
<form>
  <div class="row">
    <div class="col-4 form-group">
      <select name="location" id="location" class="form-control" (change)="selectChangeHandler($event)">
        <option value="BANGALORE">BANGALORE</option>
        <option value="MUMBAI">MUMBAI</option>
        <option value="NEWDELHI">NEW DELHI</option>
        <option value="CHENNAI">CHENNAI</option>
        <option value="KOLKATA">KOLKATA</option>
      </select>
    </div>
    <div class="col-8 from-group">
      <input type="text" class="form-control" name="search" id="search" [(ngModel)]="search" placeholder="Search...">
    </div>
  </div>
  <table class="table table-bordered">
      <tr>
        <th>IFSC</th>
        <th>Bank_ID</th>
        <th>Branch</th>
        <th>City</th>
        <th>District</th>
        <th>State</th>
        <th>Bank_Name</th>
      </tr>
      <tr *ngFor="let bank of filterBank">
        <th>{{bank.ifsc}}</th>
        <th>{{bank.bank_id}}</th>
        <th>{{bank.branch}}</th>
        <th>{{bank.city}}</th>
        <th>{{bank.district}}</th>
        <th>{{bank.state}}</th>
        <th>{{bank.bank_name}}</th>        
      </tr>
    </table>
</form>
</div>